html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
    height:100% !important;
    border: none !important;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;  
    background-color: #EBEFF2;
}

html{
   /* overflow-y:hidden;*/
}
pre {
    font-family: 'Montserrat', sans-serif !important;
}

ul{
    padding: 0px;
}

@font-face
{
	font-family: Montserrat;
	src: url('Montserrat-Regular.ttf');
}

@media print {
    #list {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        display: flex;
        align-content: flex-start;
    }
}

#list {
    align-content: flex-start
}

.botonGral {

}

.botonGral:hover {
    cursor: pointer;
    background-color: #F6F6F6 !important
}

/*-- MAIN -------------------------------------------*/
    #main{
        position: absolute;
        width: calc(100% - 66px);
        height: calc(100% - 44px);
        top: 44px;
        left: 66px;
    }

    #mainContainer{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 100%;

    }

    #mainProyectos, #mainChats, #mainPersonal, #mainFeed {
        width: 100%;
        height: 100%;
        background-color: #F6F6F6;
    }
/*-- TOP BAR ----------------------------------------*/
    #topBar{
        display: flex;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 44px;
        background-color: #FFF;
        border-bottom: 1px solid #F6F6F6;
        z-index: 99;
    }

        #marca{
            display: flex;
            width: 66px;
            height: 44px;
            justify-content: center;
            align-items: center;
            background-color: #25344B;            
        }

    #topBarContainer{
        display: flex;
        flex: 1;
        top: 0px;
        bottom: 0px;
    }

     /*   #titulo{
            display: flex;
            flex: 15;
            margin-left: 15px;    
            align-items: center;        
        }*/

        .cardTitle{
            font-weight: 500;
            flex: 1
        }

        .currentTitle {
            font-weight: bold;
            font-size: 16px;
        }

        .breadCrumbs {
            font-size: 16px;
            display: flex;
        }        

        #searchBar{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10px;
            color: #A2ABB2;
        }

        #notification{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }

        #add{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }

        #avatar{
            display: flex;
            flex: 3;
            justify-content: center;
            align-items: center;    
        }

        #sessionAvatarContainer {
            display: flex;
            justify-content: center;
            font-size: 16px;
            line-height: 32px;           
        }

        #sessionAvatar{
            display: flex;
            width: 32px;
            height: 32px;
        }

        .barButton:hover {
            color: #2196F3;
        }

/*-- MENU BAR ---------------------------------------*/

    #menuBar{
        position: fixed;
        top: 44px;
        left: 0px;
        width: 66px;
        bottom: 0px;
        background-color: #25344B;
    }

        #menuBarContainer{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .menuBarSelected{
            background-color: #3B4B63;
            border-left: 3px solid #1ABC9C;
            font-weight: bold
        }

        .menuBarItem{
            padding-top: 20px;
            padding-bottom: 20px;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            font-size: 10px;
            text-align: center;
            color: #DBDEE7;
            cursor: pointer;
        }

        .menuBarIcon{
            display: flex !important;
            font-size: 32px !important;
            color: #DBDEE7;
            align-items: center;    
            justify-content: center;    
        }
/*-- FORMS ------------------------------------------*/
    .tituloForma{
        /*margin-bottom: 10px;*/
        display:flex;
        flex: 1;
    }   

    .contentForma{
        display:flex;
        flex: 1;
        padding: 10px;
        flex-direction: column;
    }

    .wrapperForma{
        display: flex;
        flex: 1;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #F1F1F1;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .dateStyle{
        border: 1px solid #E1E4E8;
        line-height: 2em;
        padding-left: 10px;

    }

    .txtSpan{
        margin-left: 5px;
        margin-right: 5px;
    }
/*-- PROJECTS ---------------------------------------*/

    /*.project{
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: #FFF;
        margin: 15px;
        padding: 5px;
        padding-bottom: 0px;
        min-width: 180px;
        max-width: 250px;
        border-radius: 3px;
        cursor: pointer;
    }*/

    .projectTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .projectCenter{
        display: flex;
        justify-content: center;     
        margin: 15px;   
    }

    .projectBottom{
        display: flex;
        justify-content: flex-start;     
        padding-top: 10px;
        padding-bottom: 10px;
    }    

    .newProject{
        padding-top: 58px;
        padding-bottom: 58px;
        background-color: transparent;
        border: 1px dotted #999999;
    }
    .newItem{
        border: 3px solid #1ABC9C;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 40px;
        color: #1ABC9C;
        text-align: center;
        margin: 5px;
    }
    .newItemNormal{
        border: 2px solid #1ABC9C;
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        color: #1ABC9C;
        text-align: center;
        margin: 3px;
    }    

    .newItemBig{
        border: 2px solid #1ABC9C;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 30px;
        color: #1ABC9C;
        text-align: center;
        margin: 3px;
    }    
/*-- PERSONAS ---------------------------------------*/
    .person{
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: #FFF;
        margin: 15px;
        padding: 5px;
        padding-bottom: 0px;
        width: 200px;
        height: 200px;
        border-radius: 3px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .userItem:hover {
        background-color:#E1E1E1;
        cursor: pointer
    }
/*-- TAREAS -----------------------------------------*/
    .listaTareas{
        display: flex;
        flex: 1;
        height: 100%;
        background-color: white;
        border: 1px solid #D6D6D6;
        border-radius: 3px;
        margin-right: 5px;
    }

    .listaTareasDetalle{
        display: flex;
        flex: 3;        
        height: 100%;
        background-color: white;
        border: 1px solid #D6D6D6;
        border-radius: 3px;
    }

    .tareaCard{
        width: 100%;
        padding: 10px;
        padding-bottom: 0px;
        cursor: pointer;
        position: relative;
    }    

    .detallesContainer{
        width: 100%;
        height: 100%;
        background-color: #F6F6F6;
    }

    .taskBottom{
        display: flex;
        justify-content: flex-start;     
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
    }     

    .taskFechaLimite{
        font-size: 11px;
        float: right;
    }

    #newTask:hover{
        background-color: #F6F6F6;
    }

/*-- CHAT -------------------------------------------*/

    .chatPanel{
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .chatItem{
        width: 100%;
        height: 60px;
        display: flex;
        background-color: white;
        border-bottom: 1px solid #F6F6F6;
        padding-right: 10px;
        min-width: 0;
    }

    .chatItemContainer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex: 1;
        min-width: 0;
    }

    .bitacora{
        color: #727272 !important;
        text-align: center;
        font-size: 10px !important;
    }

    .chatItemAvatar{
      /*  display: flex;
        flex: 1;
        justify-content: flex-end;*/
    }

    .chatItemContent{
        display: flex;
        flex: 4;
        flex-direction: column;
        padding-left: 10px;
        min-width: 0;
    }

    .chatContentTop{
        display: flex;
        flex: 1;
        min-width: 0;
        align-items: center;
    }

        .chatContentTitle{
            flex: 1;
            /*font-weight: bold;*/
            /*white-space: nowrap;*/
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .chatContentBottom{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
    }    
        
        .chatContentStatus{
            display: flex;
            flex: 1;
            font-size: 11px;
            justify-content: flex-start;
            align-items: center;
            position: relative;
        }

        .chatContentDatetime{
            display: flex;
            flex: 1;
            font-size: 11px;
            justify-content: flex-end;
        }        

    .statusIndicator{
        width: 6px;
        height: 6px;
        border-radius: 3px;
        margin-left: 5px;
    }

    .chatSender{
        height: 60px;
        width: 100%;
        bottom: 0px;
        background-color: #FAFAFB;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .chatMessages{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        overflow-y: auto;
        min-height: 100%;
    }

    .chatMessage {

    }    

    .chatTextAreaContainer{
        display: flex;
        flex: 1;
    }

    /*.messageSelf{
        background-color: #1ABC9C;
        border-radius: 10px;        
        border-top-right-radius: 0px;
        min-width: 120px;     
        max-width: 80%;
        padding: 10px;
        padding-bottom: 3px;
        color: #FFF;    
        float: right;
        margin: 10px;
    }

    .messageOther{
        background-color: #E9E9E9;
        border-radius: 10px;        
        border-top-left-radius: 0px;
        min-width: 120px;     
        max-width: 80%;
        padding: 10px;
        padding-bottom: 3px;
        color: #535353;   
        float: left;
        margin: 10px;
    }    */

    .messageTimeOther {
        float: right;
        font-size: 10px;
        color: #9F999A;
    }    
    /*
    .messageTimeSelf {
        float: right;
        font-size: 10px;
        color: #DAD6D6;
    }       */ 

    .chatTextArea{
        width: 100%;
        height: 36px;
        border: 0px;
        overflow: auto;
        z-index: auto;
        position: relative;
        line-height: 32px;
        font-size: 15px;
        transition: none;
        background: transparent !important;
        resize: none;
        outline: 0;
        padding-left: 20px;
        color: #535353;
    }    

    .chatSelected{
        background-color: #F1F1F1;
    }
    
    .badge{
        position: relative;
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 10px;
        font-weight: bold;
        background-color: #1aeb9c;
        color: #FFF;
        border-radius: 9px;
        text-align: center;
    }


/*-- COLORS -----------------------------------------*/
    .mainColor {
        color: #1ABC9C !important;    
    }

    .fadeColor {
        color: #A2ABB2;
    }

    .lightBackground {
        background-color: #FFF;
    }

    .onlineColor {
        background-color: #7FBA00;
    }

    .offlineColor {
        background-color: #DBDEE7;
    }    

    .errorColor {
        color: #e74c3c
    }

    .clickableColor {
        color: #2196F3
    }

    .divideLeft{
        border-left: 1px solid #F1F1F1;
    }

    .divideTop{
        border-top: 1px solid #F1F1F1;
    }    

    .divideBottom{
        border-bottom: 1px solid #F1F1F1;
    }        

    ._00BFA5{
        background: #11998e !important;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #38ef7d, #11998e) !important;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #38ef7d, #11998e) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    ._304FFE{
        background: #36D1DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
    }    

    ._D50000{
        background: #CB356B;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
    }

    ._AA00FF{
        background: #DA4453;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
    }

    ._FF6D00{
        background: #fc4a1a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
    }

    ._00C853{
        background: #000046;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                
    }

/*-- FONT SIZES -------------------------------------*/
    .fSmall{
        font-size: 8px;
    }

    .fNormal{
        font-size: 12px;
    }
    
    .fBig{
        font-size: 16px;
    }  

    .fHuge{
        font-size: 36px !important;
    }

    .fGiant{
        font-size: 48;
    }
    
/*-- AVATARS ----------------------------------------*/
    .avtSmall{
        width: 18px;
        height: 18px;
        margin-left: 5px;
        line-height: 18px;
        font-size: 9px;
        text-align: center;
        color: #FFF;
    }    

    .avtMedium{
        width: 32px;
        height: 32px;
        margin-left: 5px;
        line-height: 32px;
        font-size: 16px;
        text-align: center;
        color: #FFF;
    }   
    
    .avtBig{
        width: 74px;
        height: 74px;
        margin: 10px;
        line-height: 74px;
        font-size: 37px;
        text-align: center;
        color: #FFF;
    }       

    .ensimoso{
        position: relative;
        transition: width 0.3s ease, height 0.3s ease, font-size 0.3s;
        margin-bottom: 0px;
    }

/*-- MATERIAL ICONS ---------------------------------*/
    .iconContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
    }
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
            local('MaterialIcons-Regular'),
            url(MaterialIcons-Regular.woff2) format('woff2'),
            url(MaterialIcons-Regular.woff) format('woff'),
            url(MaterialIcons-Regular.ttf) format('truetype');
        
        
    }
    
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
    
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
    
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
    
        /* Support for IE. */
        font-feature-settings: 'liga';
    }

/*-- SWITCH------------------------------------------*/
    .toggleWrapper{
        /*position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);*/
    }
    .toggleWrapper input{
        position: absolute;
        left: -99em;
    }
    .toggle{
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 50px;
        height: 30px;
        background: #A2ABB2;
        border-radius: 15px;
        -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .toggle:before, .toggle:after{
        position: absolute;
        line-height: 50px;
        font-size: 14px;
        z-index: 2;
        -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .toggle:before{
        left: 20px;
        color: #A2ABB2;
    }
    .toggle:after{
        right: 20px;
        color: #fff;
    }
    .toggle__handler{
        display: inline-block;
        position: relative;
        /*z-index: 1;*/
        background: #fff;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        top: 3px;
        left: 3px;
        -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    input:checked + .toggle{
        background: #2196F3;
    }
    input:checked + .toggle:before{
        color: #fff;
    }
    input:checked + .toggle:after{
        color: #2196F3;
    }
    input:checked + .toggle .toggle__handler{
        width: 24px;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        border-color: #fff;
    }


/*-- CHECKBOX----------------------------------------*/
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 50px;
        margin: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .container:hover {
        background-color: #f1f1f1;
    }
    /* Hide the browser's default checkbox */
    .container .chkinput {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 33px;
        width: 33px;
        background-color: #FCFCFC;
        border: 1px solid #F1F1F1;
        border-radius: 5px
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 7px;
        content: "\2713";
        font-weight: bold;
        color: white;
    }


/*--- SCROLL-----------------------------------------*/
    /* Turn on custom 8px wide scrollbar */
    ::-webkit-scrollbar {
        width: 10px; /* 1px wider than Lion. */
        /* This is more usable for users trying to click it. */
        background-color: rgba(0,0,0,0);
        -webkit-border-radius: 100px;
    }
    /* hover effect for both scrollbar area, and scrollbar 'thumb' */
    ::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }
    
    /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
    ::-webkit-scrollbar-thumb:vertical {
        /* This is the EXACT color of Mac OS scrollbars. 
        Yes, I pulled out digital color meter */
        background: #C1C1C1;
        -webkit-border-radius: 100px;
        background-clip: padding-box;
        border: 2px solid rgba(0, 0, 0, 0);
        min-height: 10px; /*Prevent it from getting too small */
    }
    ::-webkit-scrollbar-thumb:vertical:active {
        background: rgba(100,100,100,0.61); /* Some darker color when you click it */
        -webkit-border-radius: 100px;
    }
    
        /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
        ::-webkit-scrollbar-thumb:horizontal {
            /* This is the EXACT color of Mac OS scrollbars. 
            Yes, I pulled out digital color meter */
            background: #C1C1C1;
            -webkit-border-radius: 100px;
            background-clip: padding-box;
            border: 2px solid rgba(0, 0, 0, 0);
            min-height: 10px; /*Prevent it from getting too small */
        }
        ::-webkit-scrollbar-thumb:horizontal:active {
            background: rgba(100,100,100,0.61); /* Some darker color when you click it */
            -webkit-border-radius: 100px;
        }